.films {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
}

.film-img {
  width: auto;
  height: 200px;
}

.film {
  display: flex;
  padding: 5px;
}

.film-text {
  font-size: 14px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  margin-top: 10px;
}

.details-text {
  margin-left: 20px;
}
